* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 133, 255, 0.9), #242C6D);
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 500px;
    background: linear-gradient(to right, rgba(0, 133, 255, 0.9), #242C6D); /* Gradasi dari kiri ke kanan */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    width: 80%;
    height: auto;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 80%;
    max-width: 300px;
    text-align: center;
    color: #fff;
}

.login-box p {
    font-size: 18px;
    margin-bottom: 5px;
}

.login-box h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 15px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #e9ecef;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: rgba(217, 217, 217, 0.6);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: rgba(217, 217, 217, 0.9);
}
